<div class="progress">
  <% distributions.each_with_index do |distribution, index| %>
    <div class="progress-bar progress-bar-<%= progress(index) %>" style="width: <%= set_proportion(distribution) %>% ">
      <span><%= set_proportion(distribution).to_i %>%</span>
    </div>
  <% end %>
</div>