<div class="progress">
  <% 3.times do |index| %>
    <div class="progress-bar progress-bar-<%= progress(index) %>" style="width: <%= set_proportion(distributions[index]) %>% ">
      <span><%= set_proportion(distributions[index]).to_i %>%</span>
    </div>
  <% end %>
</div>