<h1>Welcome to the Page Speed</h1>
<h3>Please enter a website address </h3>
<%= form_tag(search_path, method: :post) do %>
  <%= label_tag(:address, "") %>
  <%= text_field_tag(:address) %>
  <%= submit_tag("Search") %>
<% end %>