.navbar {
  background-color: #863F3F;

  .navbar-brand {
    color: white !important;
    font-weight: bold;
  }
}

.page-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  color: #ffffff;
  border-top: 1px solid #000000;
  background-color: #863F3F;
}

#form-content {
  margin-top: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(to right, #CB4335,#E74C3C,#CD6155,#C0392B);
  border-style: outset;
  border-radius: 5px;
  border-color: lightcoral;
}

.form-group {
  color: white;
  padding-bottom: 20px;

  .control-label {
    color: black;
  }
}

.form-header{
  color: white;
  padding-bottom: 20px;
}

.navbar-nav {
  //Regular Links
  >li a {
    color: white !important;
    &:hover {
      color: black !important;
    }
  }

  //Dropdown when open
  .open a{
    color: black !important;
  }
}


.panel-default {
  border-color: #621E09;
  .panel-heading {
    background-color: #985A5A !important;
    color: white !important;
  }
}

.panel-custom-title {
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.radio_button {
  display: inline;
}

.pull-left {
  >label {
    font-weight: normal;
    padding-left: 5px;
    padding-right: 10px;
  }
}

.container.pagespeed-data {
 border: 2px solid #eaeaea;
}
.lighthouse {
  .orange {
    border-left: 5px solid #F5876E;
    margin-bottom: 5px;
  }

  .blue {
    border-left: 5px solid #61A8DC;
    margin-bottom: 5px;
  }

  .green {
    border-left: 5px solid #8EBD40;
    margin-bottom: 5px;
  }
}

.footer-spacing {
  margin-bottom: 40px;
}

.glyphicon-stop {
  color: orange;
}