#logo {
  color: white;
  font-weight: bold;
}

.navbar {
  background-image:
          linear-gradient(to right
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B);
}

#nav-text {
  color: white;
}

#nav-text:hover {
  color: black;
}

.page-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  color: #ffffff;
  border-top: 1px solid #000000;
  background-image:
          linear-gradient(to right
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B
          , #CB4335,#E74C3C,#CD6155,#C0392B);
}

#form-content {
  margin-top: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(to right, #CB4335,#E74C3C,#CD6155,#C0392B);
  border-style: outset;
  border-radius: 5px;
  border-color: lightcoral;
}

.form-group {
  color: white;
}

.form-header{
  color: white;
  padding-bottom: 20px;
}

.form-group {
  padding-bottom: 20px;
}

#nav-user {
  color: white;
}