<footer class="page-footer">
  <div class="container-fluid">
    <medium style="float: left">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2019: Page Speed</medium>
    <medium style="float: right">Developed By Jasper T. Tabacug</medium>
  </div>
</footer>